@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #bbc2c0;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: var(--font-inter), sans-serif;
    color: var(--foreground);
    background: var(--background);
}
